{% extends 'chat/index.html' %}
{% block body %}

<nav class="p-3 mb-2 bg-info text-white">
    <div class="nav-wrapper container">
        <div>Hola, {{ request.user.username }}</div>
        <div><a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i></a></div>
      </ul>
    </div>
</nav>
    <div class="container chat" style="height: 80vh" ng-controller="myController">
        
    <div class="row">
        <div class="col col-3">
            <div class="card people-list">
                <ul class="list-group list-unstyled chat-list mt-2 mb-0">
                    {% for user in users %}
                    <li id="user{{ user.id }}" class="clearfix">
                        <!-- <img src="https://frontend-1.adjust.com/new-assets/images/site-images/interface/user.svg" class="col-4"> -->
                        <div class="img"><i class="fa fa-user fa-3" aria-hidden="true"></i></div>

                        

                        <div class="about">
                            <div class="name">{{ user.username }}</div>
                            <div class="status">{{ user.last_login }}</div>
                            <!-- <span class="title" style="font-weight: bolder">{{ user.username }}</span> -->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col col-9" ng-init="messages={{messages}}; current_user='{{request.user}}';" >
            <div class="card">
                <div id="board" class="container chat-history" style="height: 68vh; padding: 5px; overflow-y: scroll">
                    <ul class="m-b-0">
                            <li class="clearfix" ng-repeat="msg in messages" >
                                ID: <span ng-bind="msg.id"></span>    
                                <div ng-if="msg.sender_user == current_user" class="message-data text-right"> 
                                    <span ng-bind="msg.creation_date" class="message-data-time">{{msg.creation_date }}</span> | 
                                    <span ng-bind="msg.sender_user">{{message.sender_user}}</span>
                                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"> -->
                                </div>

                                <div ng-if="msg.sender_user != current_user" class="message-data"> 
                                        <span ng-bind="msg.creation_date" class="message-data-time">{{msg.creation_date }}</span> | 
                                        <span ng-bind="msg.sender_user">{{message.sender_user}}</span>
                                        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"> -->
                                </div>




                                <div ng-if="msg.sender_user == current_user" class="message my-message float-right">
                                    <div ng-if="msg.sender_user == current_user">
                                        <button ng-click="delete_msg(msg.id)" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </div>                                    
                                    <span ng-bind="msg.message">{{ message.message }}</span>
                                </div>

                                
                                <div ng-if="msg.sender_user != current_user" class="message other-message">                                        
                                    <span ng-bind="msg.message">{{ message.message }}</span>
                                </div>
                            </li>
                        
                    </ul>
                </div>
                <form id="chat-box" action="" class="form-group {% block hide %}hide{% endblock %}" method="post">
                    {% csrf_token %}
                    <div class="col-12">
                        
                            <div class="input-group mb-3">
                                <input id="id_message" autocomplete="off" class="form-control" name="message" ng-model="message" type="text" placeholder="Escribe...">
                                <div class="input-group-append">
                                    <button class="btn btn-info"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% load static %}
    <script src="{% static 'js/chat.js' %}"></script>    
{% endblock %}